.topnav {
  background-color: #7858a6;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding: 4px;
  display: block;
}

body {
  
  background-color: #99C4C8;
}
.header {
  color: #7858a6;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px;
  white-space: nowrap;
  /* font-family: Arial, Helvetica, sans-serif; */
  font: italic 1.2em "Fira Sans", serif;
  font-weight: normal;
  
  
}

.sky{
  float: left;
  margin-left: 0px 0px 0px 30px;
  width: 150px;
  height: 38px;
  margin-left: 150px;
  margin-top: -100px;
  
}
.header p{
  margin-left: 50px;
}
.middle{
  color: #7858a6;
  margin: 0 500px 0px 500px;
  padding-top: 10px;
}
hr{
  width: 10%;
  border-style: dotted none none;
  border-width: 7px;
  border-color: #031227;
  padding-top: 200px;
  margin-top: 200px;
}


